<?xml version="1.0" ?>
<robot name="sobit_mini" xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller" xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- common xacro -->
  <xacro:include filename="$(find sobit_mini_description)/urdf/common.xacro" />
  <xacro:include filename="$(find sobit_mini_description)/urdf/materials.urdf.xacro" />
  <!-- links and joints -->
  <xacro:include filename="$(find sobit_mini_description)/urdf/base/base.urdf.xacro" />
  <xacro:include filename="$(find sobit_mini_description)/urdf/body/body.urdf.xacro" />
  <xacro:include filename="$(find sobit_mini_description)/urdf/head/head.urdf.xacro" />
  <xacro:include filename="$(find sobit_mini_description)/urdf/left_arm/left_arm.urdf.xacro" />
  <xacro:include filename="$(find sobit_mini_description)/urdf/left_hand/left_hand.urdf.xacro" />
  <xacro:include filename="$(find sobit_mini_description)/urdf/ribs/ribs.urdf.xacro" />
  <xacro:include filename="$(find sobit_mini_description)/urdf/right_arm/right_arm.urdf.xacro" />
  <xacro:include filename="$(find sobit_mini_description)/urdf/right_hand/right_hand.urdf.xacro" />
  <xacro:include filename="$(find sobit_mini_description)/urdf/sensor/urg.urdf.xacro" />
  <xacro:include filename="$(find sobit_mini_description)/urdf/sensor/xtion.urdf.xacro" />
  <xacro:include filename="$(find sobit_mini_description)/urdf/stacks/stacks.urdf.xacro" />
  <xacro:include filename="$(find sobit_mini_description)/urdf/urg_sup/urg_sup.urdf.xacro" />
  <xacro:base/>
  <xacro:stack_hexagons parent="base_link" />
  <xacro:urg_sup parent="plate_bottom_link"/>
  <xacro:urg parent="base_urg_sup_link"/>
  <xacro:body prefix="body" parent="plate_middle_link"/>
  <xacro:left_arm prefix="left" parent="body_lift_link"/>
  <xacro:right_arm prefix="right" parent="body_lift_link"/>
  <xacro:left_hand prefix="left_hand" parent="left_elbow_roll_link"/>
  <xacro:right_hand prefix="right_hand" parent="right_elbow_roll_link"/>
  <xacro:head prefix="head" parent="body_lift_link"/>
  <xacro:sensor_asus_xtion_pro parent="head_tilt_link"/>
</robot>