<?xml version="1.0" ?>
<robot name="sobit_mini" xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller" xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- common xacro -->
  <xacro:include filename="$(find sobit_mini_description)/urdf/common.xacro" />
  <xacro:include filename="$(find sobit_mini_description)/urdf/materials.urdf.xacro" />
  <!-- links and joints -->
  <xacro:include filename="$(find sobit_mini_description)/urdf/base/base.urdf.xacro" />
  <xacro:include filename="$(find sobit_mini_description)/urdf/body/body.urdf.xacro" />
  <xacro:include filename="$(find sobit_mini_description)/urdf/head/head.urdf.xacro" />
  <xacro:include filename="$(find sobit_mini_description)/urdf/left_arm/left_arm.urdf.xacro" />
  <xacro:include filename="$(find sobit_mini_description)/urdf/left_hand/left_hand.urdf.xacro" />
  <xacro:include filename="$(find sobit_mini_description)/urdf/ribs/ribs.urdf.xacro" />
  <xacro:include filename="$(find sobit_mini_description)/urdf/right_arm/right_arm.urdf.xacro" />
  <xacro:include filename="$(find sobit_mini_description)/urdf/right_hand/right_hand.urdf.xacro" />
  <xacro:include filename="$(find sobit_mini_description)/urdf/sensor/lidar.urdf.xacro" />
  <xacro:include filename="$(find sobit_mini_description)/urdf/stacks/stacks.urdf.xacro" />
  <xacro:include filename="$(find sobit_mini_description)/urdf/sensor/mic.urdf.xacro" />
  <xacro:include filename="$(find sobit_mini_description)/urdf/sensor/realsense_d435.urdf.xacro" />
  
  <xacro:include filename="$(find urg_node)/urdf/hokuyo_ust.urdf.xacro" />
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />

  <xacro:base/>
  <xacro:stack_hexagons parent="base_link" />
  <xacro:lidar prefix="lidar" parent="plate_bottom_link" />
  <xacro:body prefix="body" parent="plate_middle_link"/>
  <xacro:left_arm prefix="l_arm" parent="body_front_pole_link"/>
  <xacro:right_arm prefix="r_arm" parent="body_front_pole_link"/>
  <xacro:left_hand prefix="l_hand" parent="l_arm_wrist_tilt_link"/>
  <xacro:right_hand prefix="r_hand" parent="r_arm_wrist_tilt_link"/>
  <xacro:head prefix="head" parent="body_front_pole_link"/>
  <xacro:realsense_d435 prefix="head_camera" parent="head_tilt_link" />
  <xacro:mic prefix="mic" parent="head_tilt_link"/>
  
</robot>