<launch>
  <arg name="urdf_file" default="$(find xacro)/xacro '$(find sobit_mini_description)/robots/sobit_mini.urdf.xacro'" />
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="True"/>
  <param name="use_gui" value="$(arg gui)"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <param name="robot_description" command="$(arg urdf_file)" />

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find sobit_mini_control)/config/position_control.yaml" command="load"/>
  <rosparam file="$(find sobit_mini_control)/config/joint_limit.yaml" command="load"/>
  <node name="sobit_mini_control" pkg="sobit_common_library" type="dynamixel_servo_control" output="screen"/>
  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
		args="body_trajectory_controller head_trajectory_controller right_arm_trajectory_controller left_arm_trajectory_controller joint_state_controller"/>
	<!-- convert joint states to TF transforms for rviz, etc -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen"/>

</launch>