<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="body_transmission" params="prefix">
    <!--position_joint_transmission joint="${prefix}_lift_joint" reduction="1" /-->
    <position_joint_transmission joint="${prefix}_roll_joint" reduction="1" />
  </xacro:macro>
</robot>