<?xml version="1.0"?>
<!--
    - Base      : kobuki
    - Stacks    : hexagons
    - 3d Sensor : kinect
-->
<robot name="turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find sobit_mini_description)/model/urdf/turtlebot_op_common_library.urdf.xacro" />
  <xacro:include filename="$(find sobit_mini_description)/model/urdf/kobuki.urdf.xacro" />
  <xacro:include filename="$(find sobit_mini_description)/model/urdf/stacks/turtlebot_op_hexagons.urdf.xacro"/>
  <xacro:include filename="$(find sobit_mini_description)/model/urdf/sensors/asus_xtion_pro_offset_fix.urdf.xacro"/>

  <kobuki/>
  <stack_hexagons                 parent="base_link"/>
  <sensor_asus_xtion_pro          parent="base_link"/>
</robot>
