<?xml version="1.0" encoding="UTF-8" ?>
<robot name="lidar" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="lidar" params="prefix parent">

    <joint name="${prefix}_base_joint" type="fixed">
      <origin xyz="0.08525 0.0 0.008" rpy="0.0 0.0 0.0" />
      <parent link="${parent}" />
      <child link="${prefix}_base_link" />
    </joint>

    <link name="${prefix}_base_link">
      <visual>
        <origin xyz="0.0 0.0 ${M_PI}" rpy="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="file://$(find sobit_mini_description)/meshes/sobit_mini_urg_sup.dae" scale="0.001 0.001 0.001" />
        </geometry>
        <material name="black" />
      </visual>
      <collision>
        <origin xyz="0.0 0.0 ${M_PI}" rpy="0.0 0.0 0.0" />
        <geometry>
          <box size="0.092 0.184 0.007"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="-0.05675 0.0 -0.0275" rpy="0.0 0.0 0.0" />
        <mass value="0.35" />
        <inertia ixx="${1/12*0.87*(0.055**2+0.05**2)}"  ixy="0.0" ixz="0.0"
                 iyy="${1/12*0.87*(0.1575**2+0.055**2)}"  iyz="0.0"
                 izz="${1/12*0.87*(0.1575**2+0.05**2)}" />
      </inertial>
    </link>


    <xacro:hokuyo_ust_mount prefix="${prefix}" parent="${prefix}_base_link" topic="scan" >
      <origin xyz="0.1105 0.0 0.0" rpy="0.0 0.0 0.0" />
    </xacro:hokuyo_ust_mount>

  </xacro:macro>
</robot>