<?xml version="1.0"?>
<robot name="realsense_d435" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="realsense_d435" params="prefix parent">

    <joint name="${prefix}_base_joint" type="fixed">
      <origin xyz="0.0045 0.0 0.169655" rpy="0.0 0.0 0.0" />
      <parent link="${parent}" />
      <child link="${prefix}_base_link" />
    </joint>

    <link name="${prefix}_base_link" />


    <xacro:sensor_d435 parent="${prefix}_base_link" name="${prefix}" use_nominal_extrinsics="true" use_mesh="true">
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
    </xacro:sensor_d435>

  </xacro:macro>
</robot>