<?xml version="1.0"?>
<!--
  Hexagon stacks
 -->
<robot name="stack_hexagons" xmlns:xacro="http://ros.org/wiki/xacro">
  <joint name="pole_bottom_0_joint" type="fixed">
    <origin xyz="0.120 0.082 0.1028" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="pole_bottom_0_link"/>
  </joint>

  <link name="pole_bottom_0_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://turtlebot_description/meshes/stacks/hexagons/pole_bottom.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.0492" radius="0.006"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.008"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.000001686" ixy="0.0" ixz="0.0"
               iyy="0.000001686" iyz="0.0"
               izz="0.000000144"/>
    </inertial>
  </link>

  <joint name="pole_bottom_1_joint" type="fixed">
    <origin xyz="0.055 0.120 0.1028" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="pole_bottom_1_link"/>
  </joint>

  <link name="pole_bottom_1_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://turtlebot_description/meshes/stacks/hexagons/pole_bottom.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.0492" radius="0.006"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.008"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.000001686" ixy="0.0" ixz="0.0"
               iyy="0.000001686" iyz="0.0"
               izz="0.000000144"/>
    </inertial>
  </link>

  <joint name="pole_bottom_2_joint" type="fixed">
    <origin xyz="-0.055 0.120 0.1028" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="pole_bottom_2_link"/>
  </joint>

  <link name="pole_bottom_2_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://turtlebot_description/meshes/stacks/hexagons/pole_bottom.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.0492" radius="0.006"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.008"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.000001686" ixy="0.0" ixz="0.0"
               iyy="0.000001686" iyz="0.0"
               izz="0.000000144"/>
    </inertial>
  </link>

  <joint name="pole_bottom_3_joint" type="fixed">
    <origin xyz="0.120 -0.082 0.1028" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="pole_bottom_3_link"/>
  </joint>
  <link name="pole_bottom_3_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://turtlebot_description/meshes/stacks/hexagons/pole_bottom.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.0492" radius="0.006"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.008"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.000001686" ixy="0.0" ixz="0.0"
               iyy="0.000001686" iyz="0.0"
               izz="0.000000144"/>
    </inertial>
  </link>

  <joint name="pole_bottom_4_joint" type="fixed">
    <origin xyz="0.055 -0.120 0.1028" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="pole_bottom_4_link"/>
  </joint>

  <link name="pole_bottom_4_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://turtlebot_description/meshes/stacks/hexagons/pole_bottom.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.0492" radius="0.006"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.008"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.000001686" ixy="0.0" ixz="0.0"
               iyy="0.000001686" iyz="0.0"
               izz="0.000000144"/>
    </inertial>
  </link>

  <joint name="pole_bottom_5_joint" type="fixed">
    <origin xyz="-0.055 -0.120 0.1028" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="pole_bottom_5_link"/>
  </joint>

  <link name="pole_bottom_5_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://turtlebot_description/meshes/stacks/hexagons/pole_bottom.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.0492" radius="0.006"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.008"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="0.000001686" ixy="0.0" ixz="0.0"
               iyy="0.000001686" iyz="0.0"
               izz="0.000000144"/>
    </inertial>
  </link>

  <!-- pole_middle -->
  <joint name="pole_middle_0_joint" type="fixed">
    <origin xyz="0.0381 0.1505 0.1640" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="pole_middle_0_link"/>
  </joint>

  <link name="pole_middle_0_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 3.1415926535897931 0"/>
      <geometry>
        <mesh filename="package://turtlebot_description/meshes/stacks/hexagons/pole_middle.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.0608" radius="0.006"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.012"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.000003805" ixy="0.0" ixz="0.0"
               iyy="0.000003805" iyz="0.0"
               izz="0.000000216"/>
    </inertial>
  </link>

  <joint name="pole_middle_0_2_joint" type="fixed">
    <origin xyz="0.0381 0.1505 0.21" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="pole_middle_0_2_link"/>
  </joint>

  <link name="pole_middle_0_2_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 3.1415926535897931 0"/>
      <geometry>
        <mesh filename="package://turtlebot_description/meshes/stacks/hexagons/pole_middle.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.0608" radius="0.006"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.012"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.000003805" ixy="0.0" ixz="0.0"
               iyy="0.000003805" iyz="0.0"
               izz="0.000000216"/>
    </inertial>
  </link>

  <joint name="pole_middle_1_joint" type="fixed">
    <origin xyz="0.0381 -0.1505 0.1640" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="pole_middle_1_link"/>
  </joint>

  <link name="pole_middle_1_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 3.1415926535897931 0"/>
      <geometry>
        <mesh filename="package://turtlebot_description/meshes/stacks/hexagons/pole_middle.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.0608" radius="0.006"/>
      </geometry>
    </collision>
    <inertial>

  <!-- dmmy Link 16 -->
    <link name="link16_spine">
      <collision>
        <origin rpy="0 0 0" xyz="0 0.035 -0.2"/>
        <geometry>
          <box size="0.02 0.03 0.4"/>
        </geometry>
      </collision>
      <visual>
        <origin rpy="0 0 0" xyz="0 0.035 -0.2"/>
        <geometry>
          <box size="0.02 0.03 0.4"/>
        </geometry>
        <material name="black"/>
      </visual>
      <inertial>
        <origin rpy="0 0 0" xyz="0 0.035 -0.2"/>
        <mass value="0.08"/>
        <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
      </inertial>
    </link>
    <gazebo reference="link16_spine">
      <material>Gazebo/Black</material>
    </gazebo>
      <mass value="0.012"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.000003805" ixy="0.0" ixz="0.0"
               iyy="0.000003805" iyz="0.0"
               izz="0.000000216"/>
    </inertial>
  </link>

  <joint name="pole_middle_1_2_joint" type="fixed">
    <origin xyz="0.0381 -0.1505 0.21" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="pole_middle_1_2_link"/>
  </joint>

  <link name="pole_middle_1_2_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 3.1415926535897931 0"/>
      <geometry>
        <mesh filename="package://turtlebot_description/meshes/stacks/hexagons/pole_middle.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.0608" radius="0.006"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.012"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.000003805" ixy="0.0" ixz="0.0"
               iyy="0.000003805" iyz="0.0"
               izz="0.000000216"/>
    </inertial>
  </link>

  <joint name="pole_middle_2_joint" type="fixed">
    <origin xyz="-0.0381 0.1505 0.1640" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="pole_middle_2_link"/>
  </joint>

  <link name="pole_middle_2_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 3.1415926535897931 0"/>
      <geometry>
        <mesh filename="package://turtlebot_description/meshes/stacks/hexagons/pole_middle.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.0608" radius="0.006"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.012"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.000003805" ixy="0.0" ixz="0.0"
               iyy="0.000003805" iyz="0.0"
               izz="0.000000216"/>
    </inertial>
  </link>

  <joint name="pole_middle_2_2_joint" type="fixed">
    <origin xyz="-0.0381 0.1505 0.21" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="pole_middle_2_2_link"/>
  </joint>

  <link name="pole_middle_2_2_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 3.1415926535897931 0"/>
      <geometry>
        <mesh filename="package://turtlebot_description/meshes/stacks/hexagons/pole_middle.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.0608" radius="0.006"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.012"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.000003805" ixy="0.0" ixz="0.0"
               iyy="0.000003805" iyz="0.0"
               izz="0.000000216"/>
    </inertial>
  </link>

  <joint name="pole_middle_3_joint" type="fixed">
    <origin xyz="-0.0381 -0.1505 0.1640" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="pole_middle_3_link"/>
  </joint>

  <link name="pole_middle_3_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 3.1415926535897931 0"/>
      <geometry>
        <mesh filename="package://turtlebot_description/meshes/stacks/hexagons/pole_middle.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.0608" radius="0.006"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.012"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.000003805" ixy="0.0" ixz="0.0"
               iyy="0.000003805" iyz="0.0"
               izz="0.000000216"/>
    </inertial>
  </link>

  <joint name="pole_middle_3_2_joint" type="fixed">
    <origin xyz="-0.0381 -0.1505 0.21" rpy="0 0 0" />
    <parent link="base_link"/>
    <child link="pole_middle_3_2_link"/>
  </joint>

  <link name="pole_middle_3_2_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 3.1415926535897931 0"/>
      <geometry>
        <mesh filename="package://turtlebot_description/meshes/stacks/hexagons/pole_middle.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.0608" radius="0.006"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.012"/>
      <origin xyz="0 0 0"/>
      <inertia ixx="0.000003805" ixy="0.0" ixz="0.0"
               iyy="0.000003805" iyz="0.0"
               izz="0.000000216"/>
    </inertial>
  </link>

  <joint name="plate_bottom_joint" type="fixed">
    <origin xyz="0.02364 0.0 0.1306" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="plate_bottom_link"/>
  </joint>

  <link name="plate_bottom_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://turtlebot_description/meshes/stacks/hexagons/plate_bottom.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="-0.02364 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.006" radius="0.170"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.520" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.003328" ixy="0.0" ixz="0.0"
               iyy="0.003328" iyz="0.0"
               izz="0.006656" />
    </inertial>
  </link>

  <joint name="plate_middle_joint" type="fixed">
    <origin xyz="-0.01364 0.0 0.23" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="plate_middle_link"/>
  </joint>

  <link name="plate_middle_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://turtlebot_description/meshes/stacks/hexagons/plate_middle.dae"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.01364 0.0 0.0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.006" radius="0.170"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="0.520" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.003328" ixy="0.0" ixz="0.0"
               iyy="0.003328" iyz="0.0"
               izz="0.006656" />
    </inertial>
  </link>

</robot>
