<?xml version="1.0" encoding="UTF-8" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="right_arm_gaebo" params="prefix">
    <xacro:right_arm_transmission prefix="${prefix}"/>
    <gazebo reference="${prefix}_shoulder_fixed_link">
      <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="${prefix}_shoulder_roll_link">
      <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="${prefix}_shoulder_pan_link">
      <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="${prefix}_elbow_tilt_link">
      <material>Gazebo/Black</material>
    </gazebo>
    <gazebo reference="${prefix}_wrist_tilt_link">
      <material>Gazebo/Black</material>
    </gazebo>
  </xacro:macro>
</robot>