<?xml version="1.0" encoding="UTF-8" ?>
<robot name="urg_sup"
  xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="urg_sup" params="parent">

    <joint name="base_urg_sup_joint" type="fixed">
      <origin xyz="0.194084 0.0 0.0085" rpy="0 0 0" />
      <parent link="${parent}" />
      <child link="base_urg_sup_link" />
      <axis xyz="0 0 1"/>
      <limit effort="30" lower="-3.14" upper="3.14" velocity="1.571"/>
    </joint>

    <link name="base_urg_sup_link">
      <visual>
        <origin rpy="0.0 0.0 ${3.0*M_PI/2.0}" xyz="0.0 0 0.0"/>
        <geometry>
          <mesh filename="package://sobit_mini_description/meshes/sobit_mini_urg_sup.dae"/>
        </geometry>
      </visual>
      <inertial>
        <!-- <origin rpy="0 0 ${M_PI*2.0}" xyz="0.0 0 0.0"/> -->
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0 0.0"/>
        <mass value="0.000001" />
        <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001" />
      </inertial>
    </link>

  </xacro:macro>
</robot>